
<div class="bl_product-card">
    <div class="bl_product-card__image-container">
        <div class="bl_product-card__image">
            {{product.field_prod__featured_image.0}}
        </div>
    </div>
    <h4 class="bl_product-card__title"><a href="#">{{product.title.0}}</a></h4>
    <dl class="bl_product-card__attributes">
        <dt class="bl_product-card__term">Format:</dt>
        <dd class="bl_product-card__name">{{product.field_prod__format.0}}</dd>
        <dt class="bl_product-card__term">Grades:</dt>
        <dd class="bl_product-card__name">
        {% set inc = 0 %}
        {{ dump(product.field_prod__grade) }}
        {% for items in product.field_prod__grade["#items"] %}
            {{product.field_prod__grade[inc]}}
            {% if product.field_prod__grade["#items"]|length > 1 %}
                {% if inc < product.field_prod__grade["#items"]|length - 1 %}
                ,
                {% endif %}
            {% endif %}
            {% set inc = inc + 1 %}
        {% endfor %}
        </dd>
    </dl>
</div>
