<article{{ attributes }}>
<div class="bl_wishlist-card">

    <div class="bl_wishlist-card__image-container">
        <span class="bl_wishlist-card__image">
            {{product.field_prod__featured_image}}
        </span>
    </div>
    <div class="bl_wishlist-card__info">
        <span class="bl_wishlist-card__title">{{product.title}}</span>
        <p class="bl_wishlist-card__manufacturer">{{product.field_prod__manufacturer.0}}</p>
        <div class="bl_wishlist-card__description">{{product.body.0}}</div>
    </div>
    <dl class="bl_wishlist-card__attributes">
        <dt class="bl_wishlist-card__term">Format:</dt>
        <dd class="bl_wishlist-card__name">{{product.field_prod__format.0}}</dd>
        <dt class="bl_wishlist-card__term">Animal:</dt>
        <dd class="bl_wishlist-card__name">{{product.field_prod__animal.0}}</dd>
        <dt class="bl_wishlist-card__term">Grade Level:</dt>
        <dd class="bl_wishlist-card__name">{{product.field_prod__grade.0}}</dd>
        <dt class="bl_wishlist-card__term">List Price:</dt>
        <dd class="bl_wishlist-card__name list-price">{{product.field_prod__price_info.0}}</dd>
    </dl>
    <div class="bl_wishlist-card__actions">
        <a class="bl_wishlist-card__actions-where-to-buy" href="{{product.field_prod__buy_url[0]["#url"].uri}}">Where to Buy</a>
        <!--<a href="#" class="bl_wishlist-card__actions-remove" onclick="removeWishlistItem(this)">Remove</a>-->
    </div>
</div>
</article>
