
<div class="bl_product-card">
    <div class="bl_product-card__image-container">
        <div class="bl_product-card__image">
            {{product.field_prod__featured_image.0}}
        </div>
    </div>
    <h4 class="bl_product-card__title"><a href="#">{{product.title.0}}</a></h4>
    <dl class="bl_product-card__attributes">
        <dt class="bl_product-card__term">Format:</dt>
        <dd class="bl_product-card__name">{{product.field_prod__format.0}}</dd>
        <dt class="bl_product-card__term">Grade Level:</dt>
        <dd class="bl_product-card__name">{{product.field_prod__grade.0}}</dd>
        <dt class="bl_product-card__term">Animal:</dt>
        <dd class="bl_product-card__name">{{product.field_prod__animal.0}}</dd>
    </dl>
</div>
