<div class="bl_product-catalog-page">
    {{ page.header }}
    {{ page.masthead }}
    <div class="bl_template bl_product-catalog">
        <div class="bl_template__section">
            <div class="bl_surface">
                <div class="bl_surface__section bl_surface__section--100">
                    {{ page.contenttop }}
                </div>
                <div class="bl_surface__section bl_surface__section--25 ">
                    {{page.content.bioleap_product_catalog_search}}
                    {{ page.content.bioleap_format }}
                    {{ page.content.bioleap_animal }}
                    {{ page.content.bioleap_gradelevel }}
                    {{ page.content.bioleap_manufacturer }}
                </div>
                <div class="bl_surface__section bl_surface__section--75 ">
                    {{ page.content.bioleap_content }}
                </div>
            </div>
        </div>
    </div>
    {{ page.footer }}
</div>
